#MB{
    width:80%;
    height:45%;
    background-color: aquamarine;
    position: fixed;
    left: 10%;
    top: 20%;
}
#z{
 width: 70%;
 height: 80%;
  position:relative;
  left:15%;
  top: 10%;
  
}
#button{
    position: relative;
    width: 50px;
    height: 40px;
    left: 35%;
    top: 09%;
}

input{
    width: 70%;
    height: 7%;
    margin-top: 6%;
}