*{
    margin: 0;
  
}
/*https://www.runoob.com/cssref/css3-pr-animation-timing-function.html*//*菜鸟教程网址*/
#D1{
    position: absolute;
    width: 100%;
    height: 100%;
    background:url(8.jpg) no-repeat 0px 0px;
    overflow: hidden;
   /* background-size: 100%;*/
    background-size:cover;
    background-attachment: scroll;
} 
#txt{
    width: 70%;
position: absolute;
top: 80%;
font-size: 20px;
left: 20%;
size: 100%;

}
#mgtxt{
    width: 93%;
    height: 20%;
    max-height: 250px;
    max-width: 1000px;
    position: absolute;
    left: 0%;
    top: 30%;
}
#DH{
    position: relative;
    width: 250px;
    height: 150px;
    background-size: 100%;/*设置背景大小为100%*/
    animation: myfirst ;/*绑定动画为myfirst*/
    -webkit-animation: myfirst 2s;/*动画持续时间*/
    animation-iteration-count:infinite;/*设置动画次数    infinite：无限循环动画*/
    animation-timing-function: ease-in;/*设置动画速率*/
}

/*动画*/
@keyframes myfirst
{
    0%  {
        background:url(6.jpg) no-repeat 0px 0px;
         left: 30%;
         top: 20%;
         background-size: 100%;
         
        }
    25% {
            background:url(6.jpg) no-repeat 0px 0px;
            left: 50%;
            top: 30%;
             background-size: 100%;
             
            }
    50% {
                background:url(6.jpg) no-repeat 0px 0px;
                top: 40%;
                 background-size: 100%;
                 
                }
        
    75% {
                    background:url(6.jpg) no-repeat 0px 0px;
                    left: 10%;
                    top: 30%;
                     background-size: 100%;
                     
                    }
    100%{
        background:url(6.jpg) no-repeat 0px 0px;
        left: 30%;
        top:20%;
        background-size: 100%;
        }
    
}
 /*动画*/
 #img2{
     position: fixed;
    width: 50%;
    left: 40%;
    
    animation: myfirst ;/*绑定动画为myfirst*/
    -webkit-animation: myfirst 5s;/*动画持续时间*/
    animation-iteration-count:infinite;/*设置动画次数    infinite：无限循环动画*/
    animation-timing-function: linear;/*设置动画速率*/
  
 }