*{
    margin: 0;
  
}
/*https://www.runoob.com/cssref/css3-pr-animation-timing-function.html*//*菜鸟教程网址*/
#D1{
    position: absolute;
    width: 100%;
    height: 100%;
    background:url(8.jpg) no-repeat 0px 0px;
    background-size: 100%;
    background-attachment: scroll;
} 
#txt{
position: absolute;
top: 70%;
left: 30%;
}
#mgtxt{
    position: absolute;
    left: 15%;
}
#DH{
    position: relative;
    width: 250px;
    height: 150px;
    background-size: 100%;/*设置背景大小为100%*/
    animation: myfirst ;/*绑定动画为myfirst*/
    -webkit-animation: myfirst 2s;/*动画持续时间*/
    animation-iteration-count:infinite;/*设置动画次数    infinite：无限循环动画*/
    animation-timing-function: ease-in;/*设置动画速率*/
}

/*动画*/
@keyframes myfirst
{
    0%  {
        background:url(6.jpg) no-repeat 0px 0px;
         left: 30%;
         top: 0%;
         background-size: 100%;
         
        }
    25% {
            background:url(6.jpg) no-repeat 0px 0px;
            left: 45%;
            top: 10%;
             background-size: 100%;
             
            }
    50% {
                background:url(6.jpg) no-repeat 0px 0px;
                top: 25%;
                 background-size: 100%;
                 
                }
        
    75% {
                    background:url(6.jpg) no-repeat 0px 0px;
                    left: 15%;
                    top: 10%;
                     background-size: 100%;
                     
                    }
    100%{
        background:url(6.jpg) no-repeat 0px 0px;
        left: 30%;
        top:0%;
        background-size: 100%;
        }
    
}
 /*动画*/
 #img2{
     position: fixed;
    width: 40%;
    left: 30%;
    animation: myfirst ;/*绑定动画为myfirst*/
    -webkit-animation: myfirst 5s;/*动画持续时间*/
    animation-iteration-count:infinite;/*设置动画次数    infinite：无限循环动画*/
    animation-timing-function: linear;/*设置动画速率*/
  
 }